html{
    background-color: rgba(5, 5, 5, 0.832);
}
.all{
    color: #000;
    margin:0px 600px ;
}
h3{
    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-family: serif;
    font-weight: 20px;
    text-align: center;
    margin: auto;
}
div{
    color: #fff;
    background-color: rgba(145, 145, 217, 0.389);
    height: 120px;
    width: 400px;
    padding: 20px;
    margin: 0px;
    border-radius: 5px;
}
label{
    font-size: 25px;
}

input[type=text], input[type=number],input[type=email] 
{
    font-size: 27px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid;
    outline: none;
    width: 330px;
    height: 40px;
    color: #000;
}
::placeholder{
    background-color: none;
    font-size: 23px;
    font-style: normal;
}
button{
    height: 40px;
    width: 450px;
}
button:hover{
    background-color: blue;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
a:hover{
    text-decoration: none;
    animation: alternate;
    font-size: 30px;
    color: green;
}


